.category {

  &__item {
    display: inline-block;
    margin: 0 3px 10px;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__link {
    background-color: #dedede;
    border-radius: 2px;
    color: #666;
    display: inline-block;
    font-family: sans-serif, Arial;
    padding: 5px 15px;

    &.active {
      background-color: #666;
      color: white;
    }
  }
}
