$white: #ffffff;
$black: #060606;

$dark-gray: #333333;
$gray: #909090;
$light-gray: #c9c9c9;

$color1: crimson;
$color2: #FF512F;
$color3: #F38630;
$color4: #8E54E9;
$color5: #7d7d7d;
$color6: #4776E6;
$color7: #4cae4c;
